.container {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}
.spacer {
    margin: 20px 0;
}
form {
    width: 40%;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 10px;
}
.customer {
    margin-bottom: 20px;
}
.hosted-field {
    height: 25px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    margin-bottom: 20px;
}
.mt {
    margin-top: 10px;
}
.mb {
    margin-bottom: 10px;
}
.syntax-inline--theme {
    background-color: #fcfcfc;
    border: 1px solid #ececec;
    border-radius: 2px
}
.syntax-inline {
    font-size: 14px;
    font-size: 0.875rem;
    display: inline-block;
    line-height: 1;
    margin-left: 0.07143em;
    margin-right: 0.07143em;
    padding: 0.14286em 0.21429em;
    word-break: break-all
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.875em;
    margin-bottom: 1.875em;
    border: 1px solid #ddd;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 11px;
}